body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

section > .col-12 p:last-child {
  margin-bottom: 0;
}

section {
  padding-top: 3rem;
}

section:last-child {
  padding-bottom: 3rem;
}

.dark-bg {
  background-color: #141414;
}

.dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

