.home-banner {
  background-color: #141414;
  height: calc(100vh - 90px);
  position: relative;
  padding-top: 65px;
  padding-bottom: unset;
}

.home-banner h1, .home-banner p {
  color: #fff;
}

.img-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-center-mobile {
  text-align: center;
}

@media (min-width: 768px) {
  .text-center-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

/* Tech logos */

@media (min-width: 992px) {
  .projects-wrapper .row {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.projects-wrapper .row:last-child {
  margin-bottom: 0;
}

.projects-wrapper {
  margin-top: 1.5rem;
}

.projects-wrapper .row:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 992px) {
  .projects-wrapper .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .projects-wrapper .row .project-description {
    padding-top: calc(var(--bs-gutter-x)* .5);
  }
}

@media (max-width: 992px) {
  .projects-wrapper .row {
    padding-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .projects-wrapper .row:last-child {
    padding-bottom: 0;
  }
}

